

table tr td{
    vertical-align: middle;
}
table th{
    border: 5px solid rgb(255, 255, 255);
    border-width: medium;
}

td button{
    margin: 5px;
    
}
td button i{
    font-size: 15px;
    
    
}
.table-striped{
    /* border:2px solid black; */
    font-weight: 600;
}
.modal-body form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;

} 
.modal-body form .imgholder{
    /* flex-basis: 32%;
    height: 100%; */

    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

}
.modal-body form .inputField{
   flex-basis: 68%;
   border-left: 5px groove greenyellow;
   padding-left: 20px;
   font-weight: 600;
}
.imgholder .upload{
    position: absolute;
    bottom: 0;
    left: 10;
    width: 100%;
    height: 100px;
    /* background-color: rgba(0,0,0.9,0.3); */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}  


.imgholder .upload input{
    display: none;
}
.upload i{
    color: rgb(31, 0, 0);
    font-size: 45px;
   transform: translate(60% 50%);
   transform: translateY(-80%);
   margin-left: 18px;
   
}

form .inputField > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
}
 .inputField{
    /* margin: 5px 130px 0; */
    padding-right: 100px;
    
   

}
.image-upload{
    position: absolute;
    bottom: 0;
    margin: 20px;
    color: #f63c3c;
    
}

/* .section .line{
   
    background-color: #efc315;
    width: 80px;
    height: 4px;
    
} */
.section h1{
   color: #628b5e;
}

.container {
  position: relative;
  z-index: 1;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/ai-generated-healthy-food-in-paper-bag-vegetables-and-fruits-on-white-background-ai-gener.jpg');
  background-position: center;
  background-size: cover;
  opacity:.4; 
  z-index: -1;
  pointer-events: none; 
}

.container * {
  position: relative;
  z-index: 1;
}

  

