*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;

}
#navbar img{
    width: 100px;
    height: 80px;
    cursor: pointer;
}


#navbar{
    position: sticky;
    top: 0;
    bottom: 0;
    padding: 8px 80px;
    box-shadow: 5px 5px 20px rgb(194, 191, 191);
    /* background: linear-gradient(to left, #1e2220, #254f38, #30804a, #49b354, #86f26b);; */
    background-color: #678e61;
    z-index: 1;
}
.navbar .navbar-brand{ 
    font-size: 30px;
    font-weight: 700;
    color: #ffffff!important;
    transition: 2S;
    
}

.navbar .navbar-brand:hover{ 
    font-size: 30px;
    font-weight: 700;
    color: #ffffff!important;
    transition: 1S;
}

#navbarSupportedContent a{
    color: #ffffff;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
    font-size: 18px;
    font-family: "font",sans-serif;
   
}
#navbarSupportedContent a:hover{
  border-bottom: 2px soild #030303;
    
}
#navbarSupportedContent button{
    width: 80px;
    background-color: #fdfefd;
    font-weight: 600;
    border: 30px;
    border-top-right-radius: 0px;
    transition:0.6s ease;
    margin-left: 20px;
}
#navbarSupportedContent button:hover{
   color: #ffffff;
   background-color: #9dad98;
   font-weight: 600;
   border-top-right-radius: 10px;
   font-family: "Jost",sans-serif;
   transition: 0.6s ease;
}
.today-offer{
   position: absolute;
   top: 30%;
   left: 10%;
   color: transparent;
}
.main-txt{
    position: absolute;
    top: 40%;
    left: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}
.home-img{
    display: flex;
    justify-content: end;
    margin: 20px 0px 0 0px;
    
}
.leaf-img{
    position: absolute;
    bottom: 50%;
    left: 30%;
    width: 20%;
    
}
.stobary-img{
    position: absolute;
    bottom: 9%;
    left: 50px;
}

.btnshop{
    top: 80%;
    position: absolute;
    left: 196px;
    width: 165px;
    height: 48px;
    
    font-size: 20px;
    font-family: cursive;
    background-color: #678e61;
}
.kivi-img img{
    position: absolute;
    left: 40%;
}
.blur-leaf{
   position: absolute;
   top: 20%;
   left: 50%;
}
